<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <script src="https://kit.fontawesome.com/aa19909f03.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>FreeCourse course in free</title>
</head>
<style>
    .swiper-slide {
        max-width: 30rem;
        height: 35rem;
        border: 1px solid black;
    }

    .swiper {
        max-width: 120rem !important;
        padding: 0 2rem;

    }

    .swiper-slide {
        /* width: 100%; */
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-height: 38rem !important;

    }

    .swiper-slide img {
        width: 100%;
        border: 1px solid rgb(93, 93, 93);
    }

    .swiper-slide p {
        font-size: 1.8rem !important;
        text-align: left !important;

    }

    .swiper-slide h2 {
        text-align: left !important;
        font-size: 1.8rem !important;
    }

    .swiper-slide .btn-2 {
        text-align: center !important;
        border-radius: 0 !important;
    }

    .swiper-slide .btn-2:hover {
        background-color: #5765e8 !important;
        transform: scale(1, 1) !important;
    }

    .swiper-slide-bottom {
        display: flex !important;
        flex-direction: column !important;
        padding: 0 1rem !important;
        justify-content: space-evenly !important;
    }

    .section-hero {

        background-image: url("/static/img/heor-3-1.jpg") !important;

    }

    @media (max-width:1400px) {
        .section-hero {

            height: 50rem !important;

        }
    }

    @media (max-width:1130px) {
        .section-hero {

            height: 40rem !important;

        }
    }

    @media (max-width:900px) {
        .section-hero {

            height: 30rem !important;

        }
    }

    @media (max-width:520px) {
        .section-hero {

            height: 25rem !important;

        }
    }

    @media (max-width:400px) {
        .section-hero {

            height: 20rem !important;

        }
    }
</style>

<body>
    <!-- Header  -->
    <%- include("./common/navbar.ejs") -%>
        <!-- hero section  -->
        <section class="section section-hero" id="hero">
            <div class="container d-flex d-flex-column">

            </div>
        </section>

        <!------------------------------------- 
            Course Section  start here
     --------------------------------------->
        <section class="section section-course">
            <div class="container d-flex">
                <h2 class="common-heading">Most Downloaded</h2>
            </div>
            <div class="container">
                <div class="course-boxes">
                    <!-- ========================== -->
                    <% most_download.forEach((obj)=>{ %>

                        <div class="course-box d-flex d-flex-column">
                            <div class="course-data">
                                <div class="course-img">
                                    <img src=<%=obj.image %> alt="">
                                </div>
                                <div class="course-title">
                                    <a href="/" class="course-heading">
                                        <%= obj.title %>
                                    </a>
                                    <p>
                                        <%= obj.author %>
                                    </p>
                                    <p>
                                        <%= obj.discription.slice(0,150)%>...
                                    </p>
                                </div>
                            </div>
                            <div class="course-btn">
                                <span>15<i class="fa-solid fa-download"></i></span>
                                <span>
                                    <%= obj.duration/60 %>hr
                                </span>
                                <a href=<%=obj.link %> class="btn-2">Get Free</a>
                            </div>

                        </div>
                        <% }) %>
                </div>
            </div>
        </section>n

        <!-- Swiper -->
        <section class="section section-course">
            <div class="container d-flex">
                <div class="container d-flex">
                    <h2 class="common-heading">Programming courses</h2>
                </div>
            </div>
            <div class="container d-flex">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">

                        <!-- <div class="swiper-slide">
                            <img src="/static/img/course-2.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>
                        </div> -->
                        <% programming_courses.forEach((obj)=>{ %>
                            <div class="swiper-slide">
                                <img src=<%=obj.image %> alt="" loading="lazy">
                                <div class="swiper-slide-bottom">
                                    <h2>
                                        <%= obj.title %>
                                    </h2>
                                    <p>
                                        <%= obj.discription.slice(0,70) %>...
                                    </p>
                                    <a href=<%=obj.link %> class="btn-2">Download</a>
                                </div>
                            </div>
                            <% }) %>


                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

            </div>

            <div class="container d-flex">
                <div class="container d-flex">
                    <h2 class="common-heading">Hacking courses</h2>
                </div>
            </div>
            <div class="container d-flex">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">

                        <!-- <div class="swiper-slide">
                            <img src="/static/img/course-2.jpg" alt="">
                            <div class="swiper-slide-bottom">
                                <h2>Abdul Bari data structure and algo with c/c++</h2>
                                <p>Complete c++ course download in free with mega link</p>
                                <a href="" class="btn-2">Download</a>
                            </div>
                        </div> -->
                        <% hacking_courses.forEach((obj)=>{ %>
                            <div class="swiper-slide">
                                <img src=<%=obj.image %> alt="" loading="lazy">
                                <div class="swiper-slide-bottom">
                                    <h2>
                                        <%= obj.title %>
                                    </h2>
                                    <p>
                                        <%= obj.discription.slice(0,70) %>...
                                    </p>
                                    <a href=<%=obj.link %> class="btn-2">Download</a>
                                </div>
                            </div>
                            <% }) %>


                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

            </div>


        </section>


        <!-- navbar -->
        <%- include("./common/footer.ejs") -%>

            <!-- Some js file -->
            <script src="/static/js/index.js"></script>
            <script src="https://kit.fontawesome.com/aa19909f03.js" crossorigin="anonymous"></script>

            <!-- Swiper JS -->
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper(".mySwiper", {
                    slidesPerView: 1,
                    spaceBetween: 20,
                    slidesPerGroup: 3,
                    loopFillGroupWithBlank: true,
                    freeMode: true,
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev"
                    },
                    breakpoints: {
                        100: {
                            slidesPerView: 1,
                            spaceBetween: 5,
                            slidesPerGroup: 1,

                        },
                        250: {
                            slidesPerView: 2,
                            spaceBetween: 20,
                            slidesPerGroup: 2,
                        },
                        680: {
                            slidesPerView: 3,
                            slidesPerGroup: 3,
                            spaceBetween: 20,
                        },
                        1024: {
                            slidesPerView: 3,
                            slidesPerGroup: 3,
                            spaceBetween: 20,
                        },
                    },
                });
            </script>

</body>

</html>