<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free course download">
    <meta name="keywords" content="courses, free udemy course, free courses, courses in free, udemy course">
    <meta name="author" content="Mohd Azkar">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <script src="https://kit.fontawesome.com/aa19909f03.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>FreeCourse</title>
</head>

<body>
        <!------------------------------------- 
            Header start here
     --------------------------------------->
        <%- include("./common/navbar.ejs") -%>

            <!------------------------------------- 
            Hero Sction  start here
     --------------------------------------->
            <section class="section section-hero" id="hero">
                <div class="container d-flex d-flex-column">
                    <div class="hero-heading d-flex d-flex-column">
                        <h1>FreeCourse Website For Course</h1>
                        <p>Download all paid course in completly free. Direct download Link.</p>
                    </div>
                    <div class="hero-btn d-flex">
                        <a href="/course" class="btn-2">Course</a>
                        <a href="/signup" class="btn-2">Join us</a>

                    </div>
                </div>
            </section>
            <!------------------------------------- 
            Feature Section start here
     --------------------------------------->
            <section class="section section-feature">
                <div class="container d-flex">
                    <h2 class="common-heading">Features We Provide </h2>
                </div>
                <div class="container">
                    <div class="feature-boxes grid grid-three-column">
                        <div class="feature-box d-flex d-flex-column">
                            <i class="fa-solid fa-circle-down feature-icon"></i>
                            <h3>
                                Easy Download
                            </h3>
                            <p>
                                You can download any course in just one click. There will be no add no short link. All The link is working. If you have any trubble while downloading the course, feel free to contact us. We will definatly response.
                            </p>
                        </div>
                        <div class="feature-box d-flex d-flex-column">
                            <i class="fa-solid fa-headset feature-icon"></i>
                            <h3>
                                Support
                            </h3>
                            <p>We are daily uploading new courses and updateing the url which is not working, In case we have any problems in downloading you can mail us, our team will response you soon. </p>
                        </div>
                        <div class="feature-box d-flex d-flex-column">
                            <i class="fa-solid fa-circle-question feature-icon"></i>
                            <h3>
                                Demand Course
                            </h3>
                            <p>We have more then 11000+ course from different different online platform. In case if you can't find your desired course you can demand us for that course an we will upload the course in few days.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!------------------------------------- 
            Course Section  start here
     --------------------------------------->
            <section class="section section-course">
                <div class="container d-flex">
                    <h2 class="common-heading">Top Downloaded Course</h2>
                </div>
                <div class="container">
                    <div class="course-boxes">
                        <% result.forEach((obj)=>{ %>
                            <div class="course-box d-flex d-flex-column">
                                <div class="course-data">
                                    <div class="course-img">
                                        <img src=<%=obj.image %> loading="lazy"> alt="">
                                    </div>
                                    <div class="course-title">
                                        <a href="/" class="course-heading">
                                            <%= obj.title %>
                                        </a>
                                        <p><%= obj.author %></p>
                                        <p>
                                            <%= obj.discription.slice(0,120) %>...
                                        </p>
                                    </div>
                                </div>
                                <div class="course-btn">
                                    <span>15<i class="fa-solid fa-download"></i></span>
                                    <span>Duration: <%= obj.duration/60 %>hr</span>
                                    <a href=<%= obj.link %> class="btn-2" target="_blank">Get Free</a>
                                </div>
                            </div>

                            <% }); %>
                    </div>
                </div>
                </div>
            </section>

            <!------------------------------------- 
    Banner Section  start here 

--------------------------------------->
            <section class="section section-banner">
                <div class="container d-flex d-flex-column">
                    <h2>We Have More Than <span>1100+ Free </span> Course</h2>
                    <a href="/course" class="btn-2">CHECK HERE</a>
                </div>
            </section>

            <!------------------------------------- 
    Our team section  start here 
--------------------------------------->
            <section class="section section-team">
                <div class="container d-flex">
                    <h2 class="common-heading">Our Team Members</h2>
                </div>
                <div class="container grid grid-three-column">
                    <div class="box">
                        <div class="image">
                            <img src="/static/img/azkar.jpeg" loading="lazy">
                        </div>
                        <div class="name_job">
                            <h3>Mohd Azkar</h3>
                        </div>
                        <div class="rating">
                            <span>Software engineer</span>
                        </div>
                        <p> Full Stack Web Developer and Software Engineer, Pursuing BCA from IMS Noida. Working as a freelancer. Having experince of 2yr in Cyber Security and Ethical Hacking.</p>
                        <div>
                            <a href="http://mdazkar.herokuapp.com/" target="_blank">Portfolio</a>
                        </div>
                    </div>
                    <!-- <div class="box">
                        <div class="image">
                            ---<img src="/static/img/hero2.jpg" loading="lazy">-----
                        </div>
                        <div class="name_job">
                            <h3>Mohd Azkar</h3>
                        </div>
                        <div class="rating">
                            <span>Project manager</span>
                        </div>
                        <p> Lorem ipsum dolor sitamet, stphen hawkin so adipisicing elit. Ratione disuja doloremque
                            reiciendi
                            nemo.</p>
                        <div>
                            <button class="btn-2">Portfolio</button>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image">
                            ---<img src="/static/img/hero2.jpg" loading="lazy">-----
                        </div>
                        <div class="name_job">
                            <h3>Mohd Azkar</h3>
                        </div>
                        <div class="rating">
                            <span>Project manager</span>
                        </div>
                        <p> Lorem ipsum dolor sitamet, stphen hawkin so adipisicing elit. Ratione disuja doloremque
                            reiciendi
                            nemo.</p>
                        <div>
                            <button class="btn-2">Portfolio</button>
                        </div>
                    </div> -->

                </div>

            </section>

            <!------------------------------------- 
    Our Testimonial section  start here
--------------------------------------->
            <section class="section section-testimonial">
                <div class="container d-flex">
                    <h2 class="common-heading">TESTIMONIAL</h2>
                </div>
                <div class="container d-flex">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide d-flex d-flex-column">
                                <i class="fa-solid fa-quote-right"></i>
                                <p>This website is really awesome. I was searching the udemy course in free in google i check many website in google but non o them providing the course in free. Some was fake and some are asking for money and some website are showing two many adds. After searching a lot on the goole I finally found this amamzing website where i found all my favorite course, This website provide one click downlaod weithout showing any adds. Thank you so much.</p>
                                <div class="divider"></div>
                                <h3>LIZA</h3>

                            </div>
                            <div class="swiper-slide d-flex d-flex-column">
                                <i class="fa-solid fa-quote-right"></i>
                                <p>I was thinking to learn data structure and algorithm, but when i search on google the price of the course was too much high. then i search those couse in free in telegram but i can't find any good course. After seaching a lot I found this amazing website where i can find all types of course and even i can download in just one click. This website have a lot of free course in free. Now i am learning Data Structure algorithm in free. Thank you so much.</p>
                                <div class="divider"></div>
                                <h3>HOLDEN CAULFIELD</h3>

                            </div>
                            <div class="swiper-slide d-flex d-flex-column">
                                <i class="fa-solid fa-quote-right"></i>
                                <p>I am a tech student, I wanted to learn java programming. My friend told me to learn java from udemy abdul bari course. when i visit udemy i saw the price of that course was too much, then I search that course in google to get in free i saw many many providing that course in free but some are providing the half course and some are fake. Then my fried told me to check this website when i visit here i found that full course easily and i downloaded that course.This website is really amazing.
                                </p>
                                <div class="divider"></div>
                                <h3>ARMAN KHAN</h3>

                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <%- include("./common/footer.ejs") -%>


                <!-- Some js file -->
                <script src="/static/js/index.js"></script>
                <script src="https://kit.fontawesome.com/aa19909f03.js" crossorigin="anonymous"></script>

                <!-- Swiper JS -->
                <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

                <script>
                    //Swiper
                    var swiper = new Swiper(".mySwiper", {
                        //slidesPerView: 1,
                        spaceBetween: 30,
                        loop: true,
                        autoplay: {
                            delay: 5000,
                            disableOnInteraction: false,
                        },

                    });
                </script>

</body>

</html>